* Basic Reset */


header {
    text-align: center;
    background-color: #594caf;
    padding: 1rem;
    color: white;
}

h1 {
  text-align: center;
  color: #333;
  
}

h1 {
    margin: 0;
}

#box {
    max-width: 600px;
    margin: 3rem auto;
    padding: 2rem;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
   
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 1.5rem;
}

label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

input, textarea {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    height: 150px;
}

button {
    padding: 1rem;
    font-size: 1.1rem;
    background-color: #4c72af;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Responsive Design */
@media (max-width: 768px) {
    .contact-form-container {
        margin: 2rem;
        padding: 1.5rem;
    }

    button {
        font-size: 1rem;
    }
}
